---
layout: archive
---

### AdGuard (n.n.n.108, n.n.n.109, VIP on n.n.n.110)

Ad blocker, provide local DNS resolution / redirection to Nginx for SSL certificates. All "local" (those in my domain name) DNS records point to Nginx to pick up the SSL certificate when accessed via a browser.

KeepAlived creating a VIP for DNS, setup for round robin.

There's no 'high availability' here since I am running both VMs on the same host. I just wanted to play with creating a Virtual IP Address (VIP) and failover.

AdGuard KeepAlived Master Config: <https://jprknight.github.io/blog/AdGuard-KeepAlived-Master/>

AdGuard KeepAlived Backup Config: <https://jprknight.github.io/blog/AdGuard-KeepAlived-Backup/>


{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html entries=posts type=entries_layout %}
</div>

{% include paginator.html %}
